@import "../../assets/styles/variables";

.boxTodoList {
  max-width: 740px;
  width: 100%;
  max-height: 474px;

  &__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 26px;
    margin-bottom: 24px;

    &__boxButton {
      max-width: 239px;
      width: 100%;
    }
  }

  &__body {
    background: map-get($colors-variables, white);
    border: 1px solid map-get($colors-variables, complementary);
    border-radius: 3px;

    &__boxTitle {
      border-bottom: 1px solid map-get($colors-variables, secondary);
      padding: 18px 20px 14px 20px;

      & h2 {
        font-family: map-get($font-family, title);
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        color: map-get($colors-variables, black_1);
      }
    }

    &__boxItems {
      padding: 20px;

      &__boxMessage {
        & p {
          font-family: map-get($font-family, title);
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: map-get($colors-variables, black_1);
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
