$font-family: (
  default: arial,
  title: Roboto,
);

$colors-variables: (
  primary: #1890ff,
  secondary: #f5f5f5,
  complementary: #e5e5e5,
  complementary_2: #e7eae7,
  white: #ffffff,
  red_1: #F56166
);
